@import "general";

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	html{
	    body{
	      #contenedor{
	        header{
	          background: $color4;
	          height:10%;
	          visibility: visible;
	          p{
			  	font-size: 1.9em;
			  	margin-left: 10%;
			  	font-weight: bold;
			  }
	        }
	        section{
	          background: $color1;
	          display: table-cell;
	          
	          .col{
	          		float: left;
    				width: 50%;
            		background: $color1; 
           			height: 100%;
           			display: grid;
           			text-align: left;

           			img{
           				width:100%
           			}
        		}
        		.col_text{
        			background: $color2;
        			padding: 7% 7% 7% 0%;
        			width:43%;
        			   h1{
		                font-size: 2.4em;
		              }
		              .precio{
		                font-size: 1.9em;
		                margin-top: 5%;
		              }
		              p{
		                font-size: 1.3em;
		                margin-top: 5%;
		              }
		              button{
		                font-size: 1.3em;
		                margin-top: 5%;
		              }  
        		}	
	        }
	        footer{
	          background: $color3;
	          height: 10%;
	          font-size: 1.1em;
	          }
	      }
	       .contenedorModal{
				.cerrar{
            		font-size: 17px;
           			top: 11%;
            		right: 17%;
        		}
		        h2{
		          font-size: 2em;
		        }
		        p{
		          font-size: 1.2em;
		        }
		        form{
		        	input[type="text"] {
                    width: 80%;
                    height: 50px;
                    padding-left: 10px;
                }
                input[type="submit"] {
                  width: 80%;
                  height: 60px;
                  margin-top: 0px;
                  }
		          input{
		            font-size: 1.2em;
		          }
		        }
		        .textP{
		          font-size: 0.9em;
		        }
      		}
      		.feedbackContenedor{
      			#feedbackText{
		            width: 50%;
		            height: 40%;
		          }
		        #feedback{
		          width: 33%;
		          height: 27%;
		        }
		        
		      } 
		    
	    }
	  }
}
